$primary: #46f4db;

$button_cta: linear-gradient(180deg, #46f4db 27.08%, #57d272 100%);

$black: #07060b;

$grey_middle: #95959d;
$grey_light: #ededf2;
$grey_dark: #717178;
$grey_deep: #37373e;

$red: #d13130;
