<footer class='footer'>
	<section class='footer__top'>
		<div class="container">
			<div class="footer__top-row d-f ai-c jc-sb">
				<div class="footer__top-left ">
					<div class="footer__top-left-img logo">
						<a href="#"><img src="./../assets/images/logo.svg" alt=""></a>
					</div>
				</div>
				<ul class="footer__top-right d-f ai-c">
					<li><a href="#">Соглашение</a></li>
					<li><a href="#">Лицензия</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section class='footer__bottom'>
		<div class="container">
			<div class="footer__bottom-text d-f jc-c">
				Dima developer
			</div>
		</div>
	</section>
</footer>